<div class="bodyConfirmation">
    <nav class="navbar">
        <div>
            <h3 class="brandName">SuperheroForHire</h3>
        </div>
        <div>

            <a href="/auth/client/logout"><button class="pro-button" type="submit">Log out</button></a>
        </div>
    </nav>
    <div class="backImg">
        <div class="transImg">
            <div class="confText">
                <h2>Thank you for your request!</h2>
                <p class="textConf">You will receive a notification as soon as <br>our Superhero confirms your booking!
                </p>
                <p class="textConf">Need another superhero?</p>
                <a href="/auth/client/client-search/<%=client._id%>"><button id="search-btn" class="pro-button">Search
                        again</button></a>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>