<h1>Booking Confirmation</h1>

<h2>Thank you for your request!</h2>
<h3>You will receive a notification as soon as our Superhero confirms your booking!</h3>
<h3>Need another superhero?</h3>
<a href=""><button>Search again</button></a>

<a href=""><button>Log out</button></a>