<h2>Client Signup</h2>
<form action="" method="post">
    <label for="">Full Name:  <input type="text" name="name" placeholder="Full Name" /> </label>

    <label for="">Email: <input type="email" name="email" placeholder="Email" />  </label>

   <label for="">Password:  <input type="text" name="password" placeholder="Password" /> </label> 

    <label for="">Address: <input type="text" name="address" placeholder="Address" /> </label>

    <label for="">Phone Number: <input type="number" name="phone" placeholder="Phone Number"</label>
   
    <button type="submit">Signup</button>
</form>