<h1>Client Profile</h1>

<!-- /*EDIT*/ -->

<label for="">Full Name: <input type="text" name="name" placeholder="Full Name" /> </label>

<label for="">Email: <input type="email" name="email" placeholder="Email" /> </label>

<label for="">Password: <input type="text" name="password" placeholder="Password" /> </label>

<label for="">Address: <input type="text" name="address" placeholder="Address" /> </label>

<label for="">Phone Number: <input type="number" name="phone" placeholder="Phone Number" /></label>

<button type="submit">Signup</button>


<h3>Edit profile</h3>
<h3>Delete profile</h3>

<!-- /*Upcoming bookings*/ , make responsive and that we can cancel? -->
<h2>Requests</h2>
<button>Cancel</button>


<a hrf=""><button>Log out</button></a>