<h2>Client Signup</h2>
<form action="/auth/client/client-signup" method="post">
    <label>Full Name:  <input <% if (typeof errorMessage !== 'undefined') { %> style="border-color: red;" <% }
    %>} type="text" name="fullname" placeholder="Full Name" required /> </label>

    <label>Email: <input <% if (typeof errorMessage !== 'undefined') { %> style="border-color: red;" <% }
        %>} type="email" name="email" placeholder="Email" required />  </label>

   <label>Password:  <input <% if (typeof errorMessage !== 'undefined') { %> style="border-color: red;" <% }
    %>}  type="text" name="password" placeholder="Password" required /> </label> 

    <label>Postal Code: <input <% if (typeof errorMessage !== 'undefined') { %> style="border-color: red;" <% }
        %>}  type="text" name="postalcode" placeholder="Postal Code" required /> </label>

    <label>Phone Number: <input <% if (typeof errorMessage !== 'undefined') { %> style="border-color: red;" <% }
        %>}  type="number" name="phone" placeholder="Phone Number" required /></label>
   
    <button type="submit">Signup</button>
</form>