<div class="bodyProSignUpForm">
    <div class="brandImg2">
        <img src="/images/Logo.png">
    </div>
    <div class="proForm">
        <h1 class="title">Client Signup</h1>
        <form class="proFormInput" action="/auth/client/client-signup" method="post" enctype="multipart/form-data">
            <label class="formInput">Photo: *required</label>
            <input type="file" name="imageUrl" accept="image/png, image/jpg">
            <label class="formInput">First Name:</label>
            <input type="text" name="firstname" required />
            <label class="formInput">Last Name:</label>
            <input type="text" name="lastname" required />
            <label class="formInput">Email:</label>
            <input type="email" name="email" required />
            <label class="formInput">Password:  </label>
            <input type="password" name="password" required />
            <% if (typeof errorMessage !=='undefined' ) { %>
                <p style="color: red">
                    <%= errorMessage %>
                </p>
                <% } %>
            <label class="formInput">City: </label>
            <input type="text" name="city" required />
            <label class="formInput">Postalcode: </label>
            <input type="text" name="postalcode" required />
            <label class="formInput">Phone Number: </label>
            <input type="text" name="phone" required />
            <br>
            <br>
            <button class="pro-button" type="submit">Signup</button>
        </form>
    </div>
</div>

