<h1 class="title">Professional Profile</h1>

<a href="/auth/client/client-profile-edit/<%= client._id %>" method="post">Edit Profile</a>

<form method="POST" action="/auth/client/client-profile/delete/<%=client.id%>?_method=DELETE"><button
    type="submit">Delete profile</button></form>

<a href="/"><button type="submit">Log out</button></a>

<!-- <h1>Welcome!</h1> -->


<!-- /*Upcoming bookings*/ , make responsive and that we can cancel? -->
<h2>Requests Status</h2>
<button>Cancel</button>


<!-- <h2>What are you searching for today?</h2>
<div>
  <form action="">
    House Cleaning
    Hairstylist
    Massage Therapy
    Babysitter
    Personal Trainer
    Landscaping
    Dogsitter


  </form>
</div> -->