<nav>
  <form action="/logout" method="get"><button type="submit">Log out</button></form>
</nav>

<a href="/auth/client/client-profile-edit/<%= client._id %>" method="post">Edit Profile</a>

<form method="POST" action="/auth/client/client-profile/delete/<%=client.id%>?_method=DELETE"><button
    type="submit">Delete profile</button></form>

<a href="/auth/client/logout"><button type="submit">Log out</button></a>

<!-- <h1>Welcome!</h1> -->


<!-- /*Upcoming bookings*/ , make responsive and that we can cancel? -->
<h2>Requests Status</h2>
<button>Cancel</button>