<nav>
  <a href="">Edit Profile</a>
  <a href="">Delete Profile</a>
  <form action="/" method="get"><button type="submit">Log out</button></form>
</nav>

<h1>Welcome!</h1>

<h2>What are you searching for today?</h2>
<div>
<form action="">
        House Cleaning
         Hairstylist
         Massage Therapy
         Babysitter
         Personal Trainer
         Landscaping
         Dogsitter


</form>
</div>


<h3>Edit profile</h3>
<h3>Delete profile</h3>

<!-- /*Upcoming bookings*/ , make responsive and that we can cancel? -->
<h2>Requests Status</h2>
<button>Cancel</button>


