<a href="/auth/client/client-profile/<%=client.id%>">
    <h1>What are you searching for today?</h1>
    <div class="searchForm1">
        <form action="/auth/client/client-search" method="post">
            <label for="search-services">Servide Offered: <select name="" id="" multiple>
                    <input list="services">
                    <option value="1">Maid</option>
                    <option value="2">Haitstylist</option>
                    <option value="3">Massage Therapy</option>
                    <option value="4">Babysitter</option>
                    <option value="5">Personal Trainer</option>
                    <option value="6">Landscaping</option>
                    <option value="7">Dogsitter</option>
                </select>
            </label>
            <button id="search-btn" class="form-elem" type="submit">Search</button>
        </form>
    </div>