<h1>Professional Profile</h1>

<!-- /*Make rresponsive request*/ -->
<h2>Requests</h2>
<button>Accept</button>
<button>Deny</button>
<!-- /*This should send a confirmation/cancellation to client*/ -->

<a href="/auth/pro/pro-profile-edit/<%= professional.id %>" method="post"><button type="submit">Edit</button></a>
<a href="/"><button type="submit">Log out</button></a>
<form method="POST" action="/auth/pro/pro-profile/delete/<%=professional.id%>?_method=DELETE"><button
        type="submit">Delete profile</button></form>