<h1 class="title">Professional Signup</h1>
<form class="proForm" action="/auth/pro/pro-signup" method="post">
    <label class="proFormItem">Full Name: <input type="text" name="fullname" placeholder="Full Name" required />
    </label>

    <label class="proFormItem">Email: <input type="email" name="email" placeholder="Email" required /> </label>

    <label class="proFormItem">Password: <input type="password" name="password" placeholder="Password" required />
    </label>

    <label class="proFormItem">Postalcode: <input type="text" name="postalcode" placeholder="Postalcode" required />
    </label>

    <label class="proFormItem">Phone Number: <input type="text" name="phone" placeholder="Phone Number" required />
    </label>

    <label class="proFormItem">Price per hour: <input type="text" name="price" placeholder="Hourly Rate for service"
            required /></label>

    <label class="proFormItem">Service Offered: </label>
    <select class="proFormList" name="services" id="services">
        <option value="null">Choose a service</option>
        <option value="House Cleaning"> House Cleaning</option>
        <option value="Hairstylist"> Hairstylist</option>
        <option value="Massage Therapy"> Massage Therapy</option>
        <option value="Babysitter">Babysitter</option>
        <option value="Personal Trainer">Personal Trainer</option>
        <option value="Landscaping">Landscaping</option>
        <option value="Dogsitter">Dogsitter</option>
    </select>
    <button type="submit">Signup</button>
</form>

<% if (typeof errorMessage !=="undefined" ) { %>
    <p>
        <%= errorMessage %>
    </p>
    <% } %>