<h2>Professional Login Page</h2>
<form action="/auth/pro-login" method="post">
    <label for="">Email: <input type="email" name="email" placeholder="Email" /> </label>
    <label for="">Password: <input type="text" name="password" placeholder="Password" /> </label>
    <button type="submit">Login</button>
</form>