<h2 class="title">Professional Profile</h2>

<!-- /*Make rresponsive request*/ -->
<h2>Requests</h2>
<button>Accept</button>
<button>Deny</button>
<!-- /*This should send a confirmation/cancellation to client*/ -->

<a href="/auth/pro/pro-profile-edit/<%= professional._id %>/"><button type="submit">Edit</button></a>

<form method="POST" action="/auth/pro/pro-profile/delete/<%=professional.id%>?_method=DELETE"><button
        type="submit">Delete profile</button></form>

<a href="/auth/pro/logout"><button type="submit">Log out</button></a>