<h1 class="title">Professional Login Page</h1>
<form action="/auth/pro/pro-login" method="post">
    <label>Email: <input type="email" name="email" placeholder="Email" /> </label>
    <label>Password: <input type="password" name="password" placeholder="Password" /> </label>
    <button type="submit">Login</button>
</form>

<% if (typeof errorMessage !=='undefined' ) { %>
    <p style="color: red">
        <%= errorMessage %>
    </p>
    <% } %>