<h1>Professional Profile</h1>
<!-- /*Make info from each professional appear*/ -->
<!-- <h3>Edit profile</h3>
<h3>Delete profile</h3>

<form action="" method="post">
    <label for="">Full Name: <input type="text" name="name" placeholder="Full Name" required /> </label>

    <label for="">Email: <input type="email" name="email" placeholder="Email" required /> </label>

    <label for="">Password: <input type="text" name="password" placeholder="Password" required /> </label>

    <label for="">Postalcode: <input type="text" name="Postalcode" placeholder="Postalcode" required /> </label>

    <label for="">Phone Number: <input type="string" name="phone" placeholder="Phone Number" required /> </label>

    <label for="services">Service Offered:</label>
    <select name="services" id="services" required>
        <option value="null">Choose a service</option>
        <option value="House Cleaning"> House Cleaning</option>
        <option value="Hairstylist"> Hairstylist</option>
        <option value="Massage Therapy"> Massage Therapy</option>
        <option value="Babysitter">Babysitter</option>
        <option value="Personal Trainer">Personal Trainer</option>
        <option value="Landscaping">Landscaping</option>
        <option value="Dogsitter">Dogsitter</option>
    </select>
    <label for="">Price: <input type="string" name="price" placeholder="Price" required /> </label>
</form> -->


<!-- /*Make rresponsive request*/ -->
<h2>Requests</h2>
<button>Accept</button>
<button>Deny</button>
<!-- /*This should send a confirmation/cancellation to client*/ -->


<a hrf=""><button>Log out</button></a>