<h1>Search results</h1>
<button>Book</button>
<ul>
    <% professional.forEach(professional=> { %>
        <li><a href="/characters/<%- character.id %>">
                <%= character.name %>
            </a></li>
        <% }) %>
</ul>

function getProServiceById( $professional_id ) {
$professional = get_professionalData( $professional_id );
return empty( $professional ) ? array() : $professional->services;
}

Function isProInService($professional_id, $services) {
Return inArray($service, getProServiceById($professional_id))
<!-- /*Line 5: check what to write on the <a href></a>, check characters example on lab axios */ -->