<h1>Search results</h1>
<ul>
    <% professional.forEach(professional=> { %>
        <li><a href="//<%- professional.id %>">
                <%= professional.name %>
                    <%= professional.service %>
                        <%= professional.specialties %>
            </a>
        </li>
        <% }) %>
</ul>


<!-- /*Line 5: check what to write on the <a href></a>, check characters example on lab axios */ -->