<h1>
    SuperheroForHire 🚀
</h1>
<form method="POST" action="/auth/client/client-login">
    <label>Email:<input type="text" name="email" required /></label>
    <label>Password:<input type="password" name="password" required /></label>
    <button type="submit">Login</button>
</form>

<!-- /* Client signup */ -->

<a href="/auth/client/client-signup"><button class="client-signup">Sign up</button></a>

<a href="/auth/pro/pro-signup"><button class="pro-signup">Register as a Pro</button> </a>
<a href="/auth/pro/pro-login"><button class="pro-login">Log in as a Pro</button></a>