<h1>
    <%= SuperheroForHire %> 🚀
</h1>
<form class="login form" method="POST" action="">
    <label>Email:<input type="text" name="email" required /></label>
    <label>Password:<input type="password" name="password" required /></label>
    <button type="submit">Login</button>
</form>

<!-- /* Client signup */ -->

<a href=" "><button class="signUp1">Sign up</button></a>

<a href=" ">Register as a Professional</a>
<a href=""><button class="signUp2">Log in as a Professional</button></a>