<body>
    <div class="containerMain">
        <nav class="navbar">
            <div>
                <h2 class="brandName">We are here to make your daily life easier</h2>
            </div>
            <div>
                <a href="/auth/pro/pro-signup"><button class="pro-button" type="button">Register as
                        a Hero</button> </a>
                <a href="/auth/pro/pro-login"><button class="pro-button" type="button">Log in as a Hero</button></a>
            </div>
        </nav>
        <div class="brandImg">
            <img src="/images/Logo.png" alt="logo">
        </div>
        <div class="loginForm">
            <h3>Log in to find a superhero to make your life easier!</h3>
            <form class="loginFormInput" method="POST" action="/auth/client/client-login">
                <input class="formInput" type="text" name="email" placeholder="Email" required /></label>
                <input class="formInput" type="password" name="password" placeholder="Password" required /></label>
                <br>
                <br>
                <button class="client-loginBtn" type="submit">Login</button>
                <% if (typeof errorMessage !=='undefined' ) { %>
                    <p style="color: red">
                        <%= errorMessage %>
                    </p>
                    <% } %>
            </form>
            <h3 class="signUpText">Not signed up yet?</h3>
            <br>
            <a href="/auth/client/client-signup"><button class="client-signup">Sign up</button></a>
        </div>
    </div>
</body>