<h1>Professional Login</h1>=
<form class="login form" method="POST" action="">
    <label>Email:<input type="text" name="email" required /></label>
    <label>Password:<input type="password" name="password" required /></label>
    <button type="submit">Login</button>
</form>