body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

/*MAIN BACKGROUND*/
.containerMain,
.bodyProSignUpForm,
.bodyLoginForm,
.bodyProfile,
.client-search-page,
.bodyProfileEdit,
.bodyConfirmation {
  background-color: #fbde59;
  min-height: 100vh;
}

/*NAVIGATION BAR*/
.navbar {
  background-color: #0c043c;
  color: white;
  display: flex;
  align-content: flex-end;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}

.brandName {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 800;
  margin-top: 25px;
  margin-bottom: 10px;
  margin-right: 200px;
  margin-left: 10px;
}

/*BUTTONS*/

.pro-button {
  margin-left: 15px;
}

.pro-button,
.client-signup,
.client-loginBtn {
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #0c043c;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: none;
}

.pro-button:after,
.client-signup:after,
.client-loginBtn:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #8460ee;
  border-radius: 10rem;
  z-index: -2;
}

.pro-button:before,
.client-signup:before,
.client-loginBtn:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #663fdb;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.pro-button:hover,
.client-signup:hover,
.client-loginBtn:hover {
  color: #0c043c;
}

.pro-button:hover:before,
.client-signup:hover:before,
.client-loginBtn:hover:before {
  width: 100%;
}

/*IMAGES*/
.brandImg2,
.brandImg {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
}

.brandImg2 {
  margin-top: 0;
  padding-top: 50px;
}

/*LOGIN FORM*/
.loginForm,
.profInfo {
  width: 30%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 2em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
}

.loginFormInput {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loginForm:before {
  content: "";
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
}

.formInput {
  width: 100%;
  display: inline-block;
  padding: 12px 0px;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  border-radius: 4px;
  color: gray;
  font-size: 1rem;
  box-sizing: border-box;
  justify-content: center;
}

.proForm {
  width: 40%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 2em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
}

.proForm:before {
  content: "";
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
}

.proFormInput {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #0c043c;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.title2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 50px;
}

.profInfo {
  width: 60%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 2em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
}

.mainProf {
  width: 100%;
  margin-right: 150px;
  margin-left: auto;
}
.profObj {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}

.profBtn {
  padding-top: 100px;
  padding-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.searchForm1 {
  background-image: url("/images/Superhero-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2em;
}
.proFormList {
  font-size: 1.1em;
}

.searchResults {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  width: 500px;
  margin: 20px;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.userImg {
  padding: 20px 0 0 0;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: row;
  z-index: 2;
  position: relative;
}

.profileinfo {
  padding: 5px 0px;
}

.extraInf {
  font-style: italic;
}

.button-24 {
  background: #8460ee;
  border: 1px solid #8460ee;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #8460ee;
}

.button-24:active {
  opacity: 0.5;
}

.transImg {
  width: 70%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.backImg {
  background-image: url("/images/Superhero-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2.5em;
}

.confText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.textConf {
  font-size: 1.2em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
